In [18]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('../data/find-s-algorithm.xls')

# or use:
'''
from google.colab import drive
drive.mount('/content/drive')

data = pd.read_csv('/content/drive/MyDrive/ML Data/data.xls')
'''

In [20]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

Python slicing syntax used primarily with NumPy arrays (and lists of lists)

* :   => before the comma means 'select all rows'.

* :-1 => after the comma means 'select all columns except the last one'. The -1 index refers to the last element, so :-1 means up to, but not including, the last element.

In [21]:
concepts = np.array(data)[:,:-1]

In [22]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

[:, -1] means all rows but only last column

In [23]:
target = np.array(data)[:,-1]

In [24]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [25]:
def train(con, tar):
    for i, val in enumerate(tar): # i = 0 .... n, val = yes/no
        if val == 'yes':
            specific_h = con[i].copy() # set "h" value to current con and make a copy of con to do not modify it
            break

    for i, val in enumerate(con): # i = 0 ....n, val = array
        if tar[i] == 'yes':
            for x in range(len(specific_h)): # x = 0 to end of row
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

In [26]:
# function calling
print(train(concepts, target))

['sunny' 'warm' '?' 'strong' '?' '?']